<main class="main">

  <div class="fixed z-1 w-full flex flex-row items-start sm:items-center px-4 py-3 gap-4 bg-black/80">

    <button
      class="cursor-pointer p-3 rounded-full hover:bg-red-500 bg-white backdrop-blur-md text-dark text-sm font-medium transition"
      (click)="toggleSidebar()">
      <!-- {{ showFilters ? 'Hide Filters' : 'Show All Filters' }} -->
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
        focusable="false"
        style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
        <g fill="none" fill-rule="nonzero">
          <path d="m2 16h28"></path>
          <path d="m2 24h28"></path>
          <path d="m2 8h28"></path>
        </g>
      </svg>
    </button>

    <app-search-toolbar [(query)]="filterForm.searchQuery" (search)="performSearch()" (clear)="clearSearch()" class="relative"/>

    <app-map-tools [isRouteMode]="isRouteModeValue" [hasDirections]="hasDirections"
      (toggleRouteMode)="toggleRouteMode()" (clearRoute)="clearRoute()" />

  </div>

  @if (showFilters) {
  <div class="fixed top-0 left-0 z-40 h-full w-[90%] sm:w-[300px] overflow-auto p-2 shadow-xl backdrop-blur-sm bg-white/50
           transform transition-transform duration-300 ease-in-out rounded-tr-md rounded-br-md">
    <app-filter-panel [form]="filterForm" [minRating]="minRating" (apply)="applyFilters()"
      (closeDrawer)="showFilters = false" (reset)="resetFilters()" />
  </div>
  }


  @if (mapOptions) {
  <app-map-view [mapOptions]="mapOptions" [places]="filteredPlaces()" [selectedPlace]="selectedPlace"
    [weather]="weather" [directions]="directionsResults$()" (openRoute)="openRouteModal()"
    (placeClicked)="onMarkerClick($event.marker, $event.place)" [isRouteMode]="isRouteModeValue" />
  } @else {
  <div class="loading">Loading map...</div>
  }

  @if (showAddressModal) {
  <app-route-modal [(userAddress)]="userAddress" (confirm)="confirmUserAddress()" (cancel)="resetRoute()" />
  }

  @if (distanceText() && durationText()) {
  <div class="fixed bottom-4 left-4 bg-white/80 backdrop-blur-md px-4 py-2 rounded-lg shadow text-sm">
    <p><strong>🛣️ Distance:</strong> {{ distanceText() }}</p>
    <p><strong>⏱️ Duration:</strong> {{ durationText() }}</p>
  </div>
  }
</main>