<main class="main">

  <div class="fixed z-1 w-full flex flex-row items-start sm:items-center px-2 sm:px-4 py-3 gap-2 sm:gap-4 bg-black/80">

    <button
      class="shrink-0 cursor-pointer h-8 w-8 p-2 sm:p-3 sm:h-10 sm:w-10 rounded-full hover:bg-red-500 bg-white backdrop-blur-md text-dark text-sm font-medium transition"
      (click)="toggleSidebar()">
      <app-icon name="menu" size="" />
      
    </button>

    <app-search-toolbar [(query)]="filterForm.searchQuery" (search)="performSearch()" (clear)="clearSearch()"
      class="relative" />

    <app-map-tools [isRouteMode]="isRouteModeValue" [hasDirections]="hasDirections"
      (toggleRouteMode)="toggleRouteMode()" (clearRoute)="clearRoute()" />

  </div>

  @if (showFilters) {
  <div class="fixed top-0 left-0 z-40 h-full w-[90%] sm:w-[300px] overflow-auto p-2 shadow-xl backdrop-blur-sm bg-white/50
           transform transition-transform duration-300 ease-in-out rounded-tr-md rounded-br-md">
    <app-filter-panel [form]="filterForm" [minRating]="minRating" (apply)="applyFilters()"
      (closeDrawer)="showFilters = false" (reset)="resetFilters()" />
  </div>
  }


  @if (mapOptions) {
  <app-map-view [mapOptions]="mapOptions" [places]="filteredPlaces()" [selectedPlace]="selectedPlace"
    [weather]="weather" [directions]="directionsResults$()" (openRoute)="openRouteModal()"
    (placeClicked)="onMarkerClick($event.marker, $event.place)" [isRouteMode]="isRouteModeValue" />

  } @else {
  <div class="flex items-center justify-center h-screen">
    <app-icon name="loader" size="w-5 h-5" />
    <span class="sr-only">Loading...</span>
  </div>
  }

  @if (showAddressModal) {
  <app-route-modal [(userAddress)]="userAddress" (confirm)="confirmUserAddress()" (cancel)="resetRoute()" />
  }

  @if (distanceText() && durationText()) {
  <div
    class="fixed bottom-4 left-4 animate-slide-in bg-white/90 backdrop-blur-md px-5 py-3 rounded-2xl shadow-xl border border-gray-300 flex items-start gap-4 transition-all">

    <button (click)="clearRoute()" class="h-5 w-5 absolute top-3 right-3 cursor-pointer">
      <app-icon name="close" size="w-5 h-5" />
    </button>


    <div class="flex-1 space-y-4">
      <div class="text-dark-600 mb-0 text-md flex gap-3 items-center">
        <app-icon name="drivingdistance" size="w-8 h-8" />
        Driving
      </div>

      <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
      <p><strong>🛣️ Distance:</strong> {{ distanceText() }}</p>
      <p><strong>⏱️ Duration:</strong> {{ durationText() }}</p>
    </div>
  </div>
  }
</main>