<div class="sm:hidden flex items-center">
  <button (click)="showSearchBar = !showSearchBar" class="cursor-pointer h-8 w-8 p-2 sm:p-3 sm:h-10 sm:w-10 rounded-full hover:bg-red-500 bg-white backdrop-blur-md text-dark text-sm sm:font-medium transition">
    <app-icon name="search" size="" />
  </button>
</div>

<div
  class="w-full flex  sm:flex-row gap-3 items-start sm:items-center transition-all duration-300 fixed top-[50px] left-0 p-2 sm:p-0 bg-gray-600 rounded-br-md rounded-bl-md sm:bg-transparent sm:static"
  [ngClass]="{
    'hidden': !showSearchBar,
    'flex ': showSearchBar
  }"
  [class.md:flex]="true"  
>
  <input
    type="text"
    [(ngModel)]="query"
    (ngModelChange)="queryChange.emit($event)"
    placeholder="Search by name or category"
    class="w-full sm:w-64 h-[40px] px-2 rounded-lg focus:outline-none bg-white"
  />

  <div class="flex gap-2">
    <button
      (click)="search.emit()"
      class="cursor-pointer hover:bg-red-500 bg-black h-[40px] px-3 text-white rounded-lg transition"
    >
      Search
    </button>
    <button
      (click)="clear.emit()"
      class="cursor-pointer hover:bg-red-500 bg-white h-[40px] px-3 text-black rounded-lg transition"
    >
      Clear
    </button>
  </div>
</div>
