/* You can add global styles to this file, and also import other style files */
// @use "tailwindcss" as *;
@import "tailwindcss";

* {
    line-height: 1;
}

.gm-style-iw-chr {
    position: absolute;
    display: flex;
    top: 5px;
    right: 10px;
    

    .gm-ui-hover-effect{
      width: 16px !important;
      height: 16px !important;
      span{
        width: 16px !important;
        height: 16px !important;
        margin: 0 !important;
      }
    }
  }
  
  // .gm-style-iw.gm-style-iw-c {
  //   padding-top: 14px !important;
  // }

  // .gm-style .gm-style-iw-c{
  //   padding: 0 !important;
  // }